[submodule "themes/iterm"]
	path = themes/iterm
	url = https://github.com/dracula/iterm.git
[submodule "homebrew/Brewfile"]
	path = homebrew/Brewfile
	url = https://gist.github.com/5da30da02e0a46c21cd2003eb1f390af.git
